html,
body {
  color-scheme: light dark;
  margin: 0;
  background: light-dark(#eee, #111);
  color: light-dark(#111, #eee);
  font-family: system-ui;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  font-family: system-ui;
}

[popover] {
  border: none;
  background: none;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid light-dark(#00000050, #ffffff50);
  color: light-dark(#111, #eee);
  background: light-dark(#eeeeeec0, #111111c0);
  backdrop-filter: blur(8px) saturate(2);
  font-size: 16px;

  transition: background 0.2s ease-out;

  &:hover {
    background: light-dark(#ddddddc0, #222222c0);
  }
}

.button--destructive {
  background: light-dark(#f55, #a00);
  &:hover {
    background: light-dark(#c20, #c00);
  }
}

.button__icon {
  width: 16px;
}

input {
  border: 1px solid light-dark(#00000030, #ffffff30);
  background: light-dark(#ffffff50, #00000050);
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
  font-family: system-ui;
  min-width: 0;
}

.canvas {
  width: 100%;
  height: 100%;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  padding: 4px 8px;

  border-radius: 8px;
  border: 1px solid light-dark(#00000030, #ffffff30);
  background: light-dark(#eeeeeec0, #111111c0);
  backdrop-filter: blur(8px) saturate(2);
}

.pic-controls {
  position: absolute;
  transform: translate(-50%, 0px);

  visibility: hidden;
  display: flex;
  gap: 8px;

  width: 300px;
  border: 1px solid light-dark(#00000030, #ffffff30);
  background: light-dark(#dddddda0, #222222a0);
  backdrop-filter: blur(2px) saturate(2);
  border-radius: 8px;
  padding: 8px;
  opacity: 0;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s ease;
}

.pic-controls.visible {
  visibility: visible;

  opacity: 1;
  transform: translate(-50%, 16px);
}

.pic-controls__size {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  gap: 8px;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 36px;
  font-family: system-ui;
  background: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(16px) saturate(2);
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.controls {
  position: absolute;
  bottom: 16px;
  right: 16px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.export-menu-button {
  anchor-name: --export-button;
}

.export-menu-popover__content {
  position: fixed;
  position-anchor: --export-button;
  bottom: calc(anchor(top) + 8px);
  right: anchor(right);
}

.menu {
  padding: 8px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  border: 1px solid light-dark(#00000050, #ffffff50);
  background: light-dark(#eeeeeec0, #111111c0);
  backdrop-filter: blur(8px) saturate(2);
  border-radius: 8px;
}

.menu-item {
  border-radius: 4px;
  padding: 8px 8px;

  transition: background 0.2s ease-out;

  display: flex;
  flex-direction: row;

  &:hover {
    background: light-dark(#00000010, #ffffff10);
    transition: none;
  }
}

.menu-item__icon {
  height: 16px;
  margin-right: 8px;
}

.menu-item__text {
  flex: 1;
  text-align: left;
}
