html,
body {
  color-scheme: light dark;
  margin: 0;
  background: light-dark(#eee, #111);
  color: light-dark(#111, #eee);
  font-family: system-ui;
  overflow: hidden;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  border: 1px solid light-dark(#00000050, #ffffff50);
  background: light-dark(#eee, #111);
  &:hover {
    background: light-dark(#ccc, #333);
  }
  color: light-dark(#111, #eee);
  font-size: 16px;
  font-family: system-ui;
}

button svg {
  width: 16px;
}

input {
  border: 1px solid light-dark(#00000030, #ffffff30);
  background: light-dark(#ffffff50, #00000050);
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
  font-family: system-ui;
  min-width: 0;
}

.canvas {
  width: 100%;
  height: 100%;
}

.labeled-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  padding: 4px 8px;

  border-radius: 8px;
  border: 1px solid light-dark(#00000030, #ffffff30);
  background: light-dark(#ffffff50, #00000050);
}

.selected-picture-controls {
  position: absolute;
  transform: translate(-50%, 0px);

  visibility: hidden;
  display: flex;
  gap: 8px;

  width: 300px;
  border: 1px solid light-dark(#00000030, #ffffff30);
  background: light-dark(#dddddda0, #222222a0);
  backdrop-filter: blur(2px) saturate(2);
  border-radius: 8px;
  padding: 8px;
  opacity: 0;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s ease;
}

.selected-picture-controls.visible {
  visibility: visible;

  opacity: 1;
  transform: translate(-50%, 16px);
}

.selected-picture-size {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  gap: 8px;
}

.selected-picture-delete {
  background: light-dark(#f55, #a00);
  &:hover {
    background: light-dark(#c20, #c00);
  }
}

.drag-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 36px;
  font-family: system-ui;
  background: rgb(0 0 0 / 0.5);
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.controls {
  position: absolute;
  bottom: 16px;
  right: 16px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}
