html,
body {
  color-scheme: light dark;
  margin: 0;
  background: light-dark(#eee, #111);
  color: light-dark(#111, #eee);
  font-family: system-ui;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  font-family: system-ui;
  font-size: inherit;
}

[popover] {
  border: none;
  background: none;
}

.button {
  user-select: none;

  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid light-dark(#00000050, #ffffff50);
  color: light-dark(#111, #eee);
  background: light-dark(#ffffffc0, #000000a0);
  backdrop-filter: blur(8px) saturate(2);
  font-size: 16px;

  transition: background 0.2s ease-out;

  &:hover {
    background: light-dark(#ddddddc0, #222222c0);
  }
}

.button--quiet {
  border: none;
  background: none;
  border: 1px solid transparent;

  &:hover {
    border-color: light-dark(#00000050, #ffffff50);
  }
}

.button--destructive {
  background: light-dark(#f55, #a00);
  &:hover {
    background: light-dark(#c20, #c00);
  }
}

.button--compact {
  padding: 10px 8px;
}

.button__icon {
  width: 16px;
}

input {
  border: 1px solid light-dark(#00000030, #ffffff30);
  background: light-dark(#ffffffa0, #000000a0);
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  font-size: 16px;
  font-family: system-ui;
  min-width: 0;
}

.canvas {
  width: 100%;
  height: 100%;
}

.label-group {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  overflow: hidden;
  padding: 4px 12px;
  min-height: 32px;

  border-radius: 8px;
  background: light-dark(#ffffff50, #00000050);
}

.label-group .label {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

.label--quiet {
  border: none;
  background: none;
  backdrop-filter: none;
}

.label__text {
  flex-grow: 0;
  flex-shrink: 0;
}

.label__input {
  justify-self: end;

  &[type='number'] {
    text-align: right;
    max-width: 96px;
  }
}

.pic-controls {
  position: absolute;
  transform: translate(-50%, 0px);

  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;

  border: 1px solid light-dark(#00000050, #ffffff50);
  background: light-dark(#eeeeeec0, #111111c0);
  backdrop-filter: blur(8px) saturate(1.5);
  border-radius: 8px;
  padding: 8px;
  opacity: 0;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s ease;
}

.pic-controls.visible {
  visibility: visible;

  opacity: 1;
  transform: translate(-50%, 16px);
}

.pic-controls__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.pic-controls__row--between {
  justify-content: space-between;
}

.pic-controls__size {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  gap: 8px;
}

.pic-controls__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.hotbar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.hotbar-item__width,
.hotbar-item__height {
  font-weight: bold;
  font-size: 13px;
}

.hotbar-item__separator {
  font-size: 11px;
  color: light-dark(#00000090, #ffffff90);
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 36px;
  font-family: system-ui;
  background: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(16px) saturate(2);
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.controls {
  position: absolute;
  left: 16px;
  top: 16px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
}

.layout-menu-button {
  anchor-name: --layout-button;
}

.layout-menu-popover__content {
  position: fixed;
  position-anchor: --layout-button;
  top: calc(anchor(bottom) + 8px);
  left: anchor(left);
}

.view-menu-button {
  anchor-name: --view-button;
}

.view-menu-popover__content {
  position: fixed;
  position-anchor: --view-button;
  top: calc(anchor(bottom) + 8px);
  left: anchor(left);
}

.export-menu-button {
  anchor-name: --export-button;
}

.export-menu-popover__content {
  position: fixed;
  position-anchor: --export-button;
  top: calc(anchor(bottom) + 8px);
  left: anchor(left);
}

.menu {
  padding: 12px 8px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 8px;

  border: 1px solid light-dark(#00000050, #ffffff50);
  background: light-dark(#eeeeeec0, #111111c0);
  backdrop-filter: blur(8px) saturate(1.5);
  border-radius: 8px;
}

.menu-item {
  user-select: none;

  border-radius: 4px;
  padding: 8px 12px;

  transition: background 0.2s ease-out;

  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    background: light-dark(#00000010, #ffffff10);
    transition: none;
  }
}

.menu-item__icon {
  height: 24px;
  margin-right: 8px;
}

.menu-item__text {
  flex: 1;
  text-align: left;
}

.menu-divider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 16px 16px 4px 16px;
  color: light-dark(#00000090, #ffffff90);
  font-size: 14px;

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: light-dark(#00000090, #ffffff90);
  }
}
